{% extends "frame/base.html" %}


{% block content %}
    <div>Event Details</div>
  {% if user.is_authenticated %}
    <h1>{{event}}</h1>
      {% for tournament in tournaments %}
      <li>
        <a href="{% url 'tournament-detail' event.id tournament.id %}">{{tournament.name}}</a>
      </li>
      {% endfor %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Confirm</button>
    </form>
  {% else %}
    You are not logged in.
    <a href="{% url 'login' %}">Click here to log in.</a>
  {% endif %}
{% endblock %}