{% extends "frame/base.html" %}
{% load fontawesome %}

{% block content %}
    <div>Tournament Details</div>
    <h1>{{tournament.name}}</h1>
    Estimated Starttime: <br>
    Estimated Endtime: <br>

    <h3>Participants</h3>
    {% if user == event.owner %}
        <a href="{% url 'tournament-seeding' tournament.id %}">Seed Participants</a>
    {% endif %}
    <div>
        {% for registration in registrations %}
        <div>
            <a href="#">{{registration.participant}}</a>
        </div>
        {% endfor %}
    </div>

  <h3>Bracket</h3>
    <div style="position: absolute">

    {% with spacing_factor=64 %}
      {% for level in tournament.bracket.bracket_levels %}
      <div style="width: 300px; position: absolute; left: {% widthratio forloop.counter0 1 300 %}px">
          {% widthratio spacing_factor 1 2 as spacing_factor %}
        <h4>Runde {{ match.depth_level|add:"2" }}</h4>
        {% for match in level %}
           <div class="bracket-item" style="height: {{ spacing_factor }}px; position: relative;">
               {% if user == event.owner %}
               <div>
                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-p1="{{match.p1.playerID}}" data-p2="{{match.p2.playerID}}">
                       {% fontawesome_icon 'pencil' color='red' %}
                    </button>

               </div>
                {% endif %}
               <div>
                <div>{{match.p1.playerID}}</div>
                <div>{{match.p2.playerID}}</div>
               </div>
            </div>
        {% endfor %}
       </div>
      {% endfor %}
    {% endwith %}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chose winner and Report Results</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <button type="button" class="btn btn-primary resultbutton" id="player1"></button>
                <label>Time</label><input type="text" class="form-control">
              <button type="button" class="btn btn-primary resultbutton" id="player2"></button>
            <label>Time</label><input type="text" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}