body {
    background-color: #1d1d1c;
    color: #ededed;
}

#content {
    margin-top: 36px;
}

.bg-primary {
    background-color: #dc4b0b !important;
}

.btn-primary {
    background-color: #dc4b0b !important;
    border-color: #dc4b0b;
}