{% extends "frame/base.html" %}
{% load static %}
{% block datatablecss %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
{% endblock %}



{% block secondnav %}
 <div id="navigation">
        <nav class="navbar navbar-dark navbar-expand-lg bg-secondary">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'players_era' %}">[Player Statistics]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'goals_era' %}">[Goal Statistics]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'combinations_era' %}">[Goal Combinations]</a>
                    </li>
                </ul>
            </div>
        </nav>
</div>
{% endblock %}

{% block content %}
<h1>OoT Bingo v10.1 - Goal Statistics</h1>
<h2>Total races: {{ racecount }}</h2>
<h2>First v10.1 Race: 30.11.2020</h2>
<br>

<div align='left'><a href="">Back to original sorting</a>
<div align='left'>Last refresh: {{ timestamp }} CEST</div>
<div align='right'><a href="http://www.twitter.com/r_fenyan">Made by Fenyan</a></div>


 <div id="content">
   <table id="myTable" class="table table-dark" data-order='[[1, "desc"], [3, "desc"]]' data-page-length='250' order-column='1'>

    <thead>
     <tr>
      <th>Goal</th>
      <th>On Boards</th>
      <th>Picked</th>
      <th>Sub 1:15</th>
      <th>Median Time</th>
      <th>Pick Rate</th>
<!--      <th>Win Rate</th>-->
      <th>Sub 1:15 Rate</th>
     </tr>
    </thead>
    <tbody>
    {% for goal in goals %}
     <tr>
      <td>{{ goal.0 }}</td>
      <td>{{ goal.1 }}</td>
      <td>{{ goal.2 }}</td>
      <td>{{ goal.5 }}</td>
      <td>{{ goal.4 }}</td>
      <td>{{ goal.3|stringformat:'i' }}%</td>
      <td>{{ goal.6|stringformat:'i' }}%</td>
     </tr>
    {% endfor %}
    </tbody>

   </table>
 </div>
{% endblock %}

{% block datatablejs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
<script>
$(document).ready( function () {
    $('#myTable').DataTable(
    {
      "targets": 1,
      "className": 'dt-body-center'
      });
} );
</script>
{% endblock %}



