<div class="modal fade" id="editAdmins" tabindex="-1" role="dialog" aria-labelledby="registerTeamLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="POST" class="post-form">{% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Admins for {{ league }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% for admin in admins %}
                <div>
                    <p>{{ admin }}</p>
                </div>
            {% endfor %}
                    <label>
                        <input type="text" name="teamname_create" autocomplete="off">
                    </label>

          </div>
          <div class="modal-footer">
            <button type="submit" class="save btn btn-default btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
    </form>
  </div>
</div>