{% extends "frame/base.html" %}
{% load filter %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    {% endif %}

    <h1>{{league.name}}</h1>
    <p>{{league.description}}</p>

    <div>
    {% for tournaments_standing, tournaments_league in zipped_results_and_league %}
        {% if tournaments_standing.first.tournament.status == 0 %}
            <h4><a href="{% url 'tournament-detail' tournament_id=tournaments_standing.first.tournament.pk %}">{{tournaments_standing.first.tournament}}</a></h4>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Placement</th>
                    <th scope="col">Participant</th>
                    <th scope="col">Result</th>
                    <th scope="col">Rating</th>
                </tr>
                </thead>
                <tbody>
                <h1></h1>

                {% for standing, leaguepoints in tournaments_standing|zip:tournaments_league %}
                    <div>
                        <tr>
                            <th scope="row">{{standing.placement}}</th>
                            <td><a href="{% url 'profile-datail' user_id=standing.user.pk %}">{{standing.user}}</a></td>
                            <td>{{standing.result}}</td>
                            <td>{{leaguepoints}}</td>
                        </tr>
                    </div>
                {% endfor %}


                </tbody>
            </table>
        {% endif %}
    {% endfor %}
    </div>

    <div>
        <h4>Stagings</a></h4>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Placement</th>
                <th scope="col">Participant</th>
                <th scope="col">Rating</th>
            </tr>
            </thead>
            <tbody>
                {% for  rating, user in ratings_and_users %}

                <div>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'profile-datail' user_id=user.pk %}">{{ user }}</a></td>
                        <td>{{ rating }}</td>
                    </tr>
                </div>
                {% endfor %}

            </tbody>
        </table>
    </div>

<!-- Modal -->
{% include 'modals/register_team.html' %}
{% include 'modals/delete_team.html' %}


{% endblock %}
