{% extends "frame/base.html" %}
{% load filter %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    {% endif %}

    <h1>{{league.name}}</h1>
    <p>{{league.description}}</p>
    {% if user == league.owner %}
        <!-- <button type="button" name="action" value="admin" class="save btn btn-default btn-primary" data-toggle="modal" data-target="#editAdmins">Edit admins</button> -->
    {% endif %}

    <div>
        <h4>Stagings</a></h4>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Placement</th>
                <th scope="col">Participant</th>
                <th scope="col">Rating</th>
            </tr>
            </thead>
            <tbody>
                {% for  rating, user in ratings_and_users %}

                <div>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'profile-datail' user_id=user.pk %}">{{ user }} <i class="{{ user.userdata.country.flag_css }}"></i></a></td>
                        <td>{{ rating }}</td>
                    </tr>
                </div>
                {% endfor %}


            </tbody>
        </table>
    </div>

    <div>
        <h2>Tournaments in this league</a></h2>
    {% for tournaments_standing, tournaments_league in zipped_results_and_league %}
        {% if tournaments_standing.first.tournament.status == 0 %}
            <h4><a href="{% url 'tournament-detail' tournament_id=tournaments_standing.first.tournament.pk %}">{{tournaments_standing.first.tournament}}</a></h4>
        {% if user == league.owner %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="tournament_pk" value="{{ tournaments_standing.first.tournament.pk }}">
                <button type="submit" name="action" value="del" class="save btn btn-default btn-primary">DEL</button>
            </form>
        {% endif %}
        <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Placement</th>
                    <th scope="col">Participant</th>
                    <th scope="col">Result</th>
                    <th scope="col">Rating</th>
                </tr>
                </thead>
                <tbody>
                <h1></h1>

                {% for standing, leaguepoints in tournaments_standing|zip:tournaments_league %}
                    <div>
                        <tr>
                            <th scope="row">{{standing.placement}}</th>
                            <td><a href="{% url 'profile-datail' user_id=standing.user.pk %}">{{standing.user}}</a></td>
                            <td>{{standing.result}}</td>
                            <td>{{leaguepoints}}</td>
                        </tr>
                    </div>
                {% endfor %}


                </tbody>
            </table>
        {% endif %}
    {% endfor %}
    </div>



<!-- Modal -->
{% include 'modals/edit_admins.html' %}


{% endblock %}
