{% extends "frame/base.html" %}

{% block content %}
    <div>Tournament Details</div>
    <a href="{% url 'detail' event.id %}"><h1>{{event.name}}</h1></a>
    <a href="{% url 'tournament-detail' event.id tournament.id %}"><h1>{{tournament.name}}</h1></a>
    Estimated Starttime: <br>
    Estimated Endtime: <br>

    <h3>Phases</h3>
    <div>
    {% for phase in phases %}
        <div>
            <a href="#">{{phase}}</a>
        </div>
    {% endfor %}
    </div>
    {% if user == event.owner %}
        <a href="{% url 'phase-new' event.id tournament.id %}">Add Phase</a>
    {% endif %}
    <h3>Participants</h3>
    {% if user == event.owner %}
        <a href="{% url 'tournament-seeding' event.id tournament.id %}">Seed Participants</a>
    {% endif %}
    <div>
        {% for registration in registrations %}
        <div>
            <a href="#">{{registration.participant}}</a>
        </div>
        {% endfor %}
    </div>

  <h3>Bracket</h3>
    <div style="position: absolute">

        {% with spacing_factor=64 %}
      {% for level in tournament.bracket.bracket_levels %}
      <div style="width: 300px; position: absolute; left: {% widthratio forloop.counter0 1 300 %}px">
          {% widthratio spacing_factor 1 2 as spacing_factor %}
        <h4>Runde {{ match.depth_level|add:"2" }}</h4>
        {% for match in level %}
           <div class="bracket-item" style="height: {{ spacing_factor }}px; position: relative;">
                <div>{{match.p1.playerID}}</div>
                <div>{{match.p2.playerID}}</div>
            </div>
        {% endfor %}
       </div>
      {% endfor %}
        {% endwith %}

    </div>

{% endblock %}