{% extends "frame/base.html" %}

{% block content %}

    <h3>Bracket</h3>
    {% with spacing_factor=64 %}
    {% for level in matches %}
        <div style="width: 300px; position: absolute; left: {% widthratio forloop.counter0 1 300 %}px">
            {% widthratio spacing_factor 1 2 as spacing_factor %}
        <h4>Runde {{ match.depth_level|add:"2" }}</h4>
        {% for match in level %}
           <div class="bracket-item" style="height: {{ spacing_factor }}px; position: relative;">
               <! if user == event.owner >
               <div>
                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-p1="{{match.player1}}" data-p2="{{match.player2}}" data-matchid="{{match.pk}}">
                       <! fontawesome_icon 'pencil' color='red' >
                       R
                    </button>

               </div>
               <div>
                <div>{{match.player1}}</div>
                <div>{{match.player2}}</div>
               </div>
            </div>
        {% endfor %}
        </div>
      {% endfor %}

        {% endwith %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <form method="POST" class="post-form">{% csrf_token %}
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chose winner and Report Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <input id="matchID" type="hidden" name="matchID" value="">

                  <button type="submit" class="btn btn-primary resultbutton" id="player1" data-winner="player1"></button>
                    <label>Time</label><input type="text" class="form-control">
                  <button type="submit" class="btn btn-primary resultbutton" id="player2" data-winner="player2"></button>
                <label>Time</label><input type="text" class="form-control">
              </div>
              <div class="modal-footer">
                <button type="submit" class="save btn btn-default btn-primary">Save results</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
        </form>
      </div>
    </div>

{% endblock %}