{% extends "frame/base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
{% endif %}

    <h1>{{tournament.name}}
        {% if user == tournament.owner %}
                <a href="{% url 'tournament-report' tournament_id=tournament.pk %}"><i class="fas fa-pen"></i></a>
        {% endif %}
    </h1>
    <p>{{tournament.description}}</p>
    {% if tournament.status != 0 %}
        <p>This tournament is in progress.</p>
    {% endif %}

    {% if standings %}
        <h3>Standings</h3>



        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Placement</th>
                <th scope="col">Participant</th>
                <th scope="col">Result</th>
                <th scope="col">Leaguepoints</th>
            </tr>
            </thead>
            <h1></h1>
            {% for standing in standings %}
                <div>
                    <tr>
                        <td>{{ standing.0 }}</td>
                        <td><a href="{% url 'profile-datail' user_id=standing.1.pk %}">{{ standing.1 }}</a></td>
                        <td>{{standing.2}}</td>
                        <td>{{standing.3}}</td>
                    </tr>
                </div>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% if standings %}
        <form method="POST" class="post-form">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default btn-primary" name="action" value="finish">Finish Tournament</button>
        </form>
        <p>{{tournament.description}}</p>



        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Participant</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            <h1></h1>
            {% for standing in standings %}
                <div>
                    <tr>
                        <td><a href="#">{{standing.user}}</a></td>
                        <td>{{standing.result}}</td>
                    </tr>
                </div>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}
    {% endif %}


<!-- Modal -->
{% include 'modals/register_team.html' %}
{% include 'modals/delete_team.html' %}


{% endblock %}
