{% extends "frame/base.html" %}
{% load fontawesome %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
{% endif %}

    <div>Tournament Details</div>
    <h1>{{tournament.name}}</h1>
    <p>{{tournament.description}}</p>

    <p>Tournament Mode: {{tournament.format}}vs{{tournament.format}}</p>

    {% if user_registration %}
        You registered for this tournament!
        {% if tournament.format > 1 %}
        <p>Your team: {{user_registration.team.name}}</p>
        <a href="{% url 'tournament-seeding' tournament.id %}">Edit Team</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteTeam">
                   Delete Team
                </button>
        {% endif %}
    {% else %}
        {% if tournament.format > 1 %}
            <form method="POST" class="post-form">{% csrf_token %}
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerTeam">Register Team</button>
            </div>
            </form>
        {% else %}
            <form method="POST" class="post-form">{% csrf_token %}
                <div>
                    <button type="submit" class="save btn btn-default btn-primary">Register</button>
                </div>
            </form>
        {% endif %}
    {% endif %}

    {% if user == event.owner %}
        <a href="{% url 'tournament-seeding' tournament.id %}">Seed Participants</a>
        <a href="{% url 'bracket-new' tournament.id %}">Create Bracket(s)</a>
    {% endif %}

    {% if tournament.max_participants == None %}
        <p>Participants: {{registrations.count}} (no limit)</p>
    {% else %}
        <p>Participants: {{registrations.count}}/{{tournament.max_participants}}</p>
    {% endif %}
    <div>
        {% for registration in registrations %}
        <div>
            <a href="#">{{registration.team}}</a>
        </div>
        {% endfor %}
    </div>

<!-- Modal -->
{% include 'modals/register_team.html' %}
{% include 'modals/delete_team.html' %}


{% endblock %}
