{% extends "frame/base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

    <h2>New Tournament</h2>
    <form method="POST" class="post-form" action="{{action}}" enctype="multipart/form-data">{% csrf_token %}
        {{ tournament_form.as_p }}
        <input type="hidden" name="extra" value="{{extra}}">
        {% for forms in leagueForms %}
            <p>{{ forms.as_p }}</p>
        {% endfor %}
        <input type="submit" name="action" value="+">
        <button type="submit" name="action" value="create" class="save btn btn-default btn-primary">Save</button>
    </form>
  {% if user.is_authenticated %}
    eingelogged!
  {% else %}
    You are not logged in.
    <a href="{% url 'login' %}">Click here to log in.</a>
  {% endif %}

{% endblock %}