{% extends "frame/base.html" %}

{% block content %}


{% if user == tournament.owner %}
    {% if standings %}
        {% if tournament.status != 0 %}
            <div class="alert alert-danger" role="alert">
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <div class="warning_with_button">This tournament is in progress and won't appear in the league.</div>
                    <button type="submit" class="save btn btn-link" name="action" value="finish">Click here to finish tournament</button>
                </form>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <div class="warning_with_button">This tournament is finished.</div>
                    <button type="submit" class="save btn btn-link" name="action" value="open">Click here to open it again and edit results</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
    {{ form.non_field_errors }}
    <h2 class="h2spacing">Tournament details:</h2>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {% for field in form %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="valid-feedback">
                      {% for error in field.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="save btn btn-default btn-primary" name="action" value="update">Save changes</button>
        </form>
    <h2 class="h2spacing">Stagings:</h2>
    {% if standings %}

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Participant</th>
                <th scope="col">Time</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <h1></h1>
            {% for standing in standings %}
                <div>
                    <tr>
                        <td><a href="#">{{standing.user}}</a></td>
                        <td>{{standing.result}}</td>
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                        <td><button type="submit" class="save btn btn-default btn-primary" name="action" value="delete_{{standing.user.pk}}"><i class="fas fa-trash-alt"></i></button></td>
                        </form>
                    </tr>
                </div>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if tournament.status != 0 %}
        <h2 class="h2spacing">Add results:</h2>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ report_form.as_p }}
            <button type="submit" class="save btn btn-default btn-primary" name="action" value="save">Save result</button>
        </form>
    {% endif %}
    {% else %}
        <div>
            You need to be tournament owner to report results.
        </div>
{% endif %}
<!-- Modal -->
{% include 'modals/register_team.html' %}
{% include 'modals/delete_team.html' %}


{% endblock %}
