{% extends "frame/base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
{% endif %}

    <h1>{{tournament.name}}</h1>
{% if tournament.status == 0 %}
    <p>This tournament already finished. Contact an admin to edit results.</p>
{% else %}
    {% if standings %}
        <form method="POST" class="post-form">
            {% csrf_token %}
            <button type="submit" class="save btn btn-default btn-primary" name="action" value="finish">Finish Tournament</button>
        </form>
        <p>{{tournament.description}}</p>

        <table class="table table-dark">
            <thead>
            <tr>
              <th scope="col" colspan="4">{{tournament.first}}</th>
            </tr>
            </thead>
            <tbody>
            <h1></h1>
            {% for standing in standings %}
                <div>
                    <tr>
                        <td><a href="#">{{standing.user}}</a></td>
                        <td>{{standing.result}}</td>
                    </tr>
                </div>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if user == tournament.owner %}
        <p>Add results:</p>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ report_form.as_p }}
            <button type="submit" class="save btn btn-default btn-primary" name="action" value="save">Save</button>
        </form>

    {% else %}
        <div>
            You need to be tournament owner to report results.
        </div>
    {% endif %}
{% endif %}
<!-- Modal -->
{% include 'modals/register_team.html' %}
{% include 'modals/delete_team.html' %}


{% endblock %}
