{% extends "frame/base.html" %}


{% block content %}
    <div class="row">
        <div class="col">
            <h1>My Events</h1>
        </div>
    </div>
    <div class="row">
    {% if user.is_authenticated %}
        {% if event_list %}
            {% for event in event_list %}
                <div class="col-3">
                    <a href="{% url 'detail' event.id %}">
                        <div class="card">
                            <img src="https://via.placeholder.com/150x50" class="card-img-top" alt="Event Image">
                            <div class="card-body">
                                <h2>{{event.name}}</h2>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>You have no events created.</p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'event-new'%}">add Event</a>
        </div>
    </div>
    {% else %}
        You are not logged in.
        <a href="{% url 'login' %}">Click here to log in.</a>
    {% endif %}

{% endblock %}