body {
    background-color: #1d1d1c;
    color: #ededed;
}

.h2spacing {
    margin: 60px 0 26px;
}

#content {
    margin-top: 36px;
}

.bg-primary {
    background-color: #dc4b0b !important;
}

.btn-primary {
    background-color: #dc4b0b !important;
    border-color: #dc4b0b;
}

.warning_with_button {
    padding: .375rem .75rem;
}